
.home-container{
    background-image:linear-gradient(to bottom, rgba(26, 23, 13, 0.106), rgba(0, 0, 0, 0.568)) , url('/images/Rectangle\ 1.png');
    /* background-color: black; */
    /* width: 700px; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}